* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color-scheme: light;

  --almost-white: rgb(204, 204, 204);
  --almost-black: rgb(40, 40, 40);

  --color: black;
  --bg: white;
  --invert: invert(0);
  --button-bg: var(--almost-white);
  --hover-bg: rgb(218, 218, 218);
  --overlay-bg: white;

  --disable-filter: invert(35%);
  --icon-rotate: rotate(-150deg);
  --icon-translate: translate(-0.1875rem, 0.3rem);
}

html.darkMode {
  color-scheme: dark;

  --color: white;
  --bg: black;
  --bg: rgb(20, 20, 20);
  --invert: invert(1);
  --button-bg: rgb(60, 60, 60);
  --hover-bg: rgb(50, 50, 50);
  --overlay-bg: var(--almost-black);

  --disable-filter: brightness(0.8);
  --icon-rotate: rotate(30deg);
  --icon-translate: translate(0.15rem, -0.27rem);
}

body {
  margin: 0;
  top: 0;
  background: var(--bg);
  color: var(--color);
  height: 100%;
}

img {
  display: block;
}

ul, dl {
  line-height: 1.5;
}

select, input {
  font: inherit;
  padding: 0.5ch;
}

#infoModal li, #infoModal dd {
  margin-bottom: 1ch;
}

.wordsearch td {
  box-sizing: content-box;
  text-align: center;
  font-size: 1.5em;
  min-width: max(2ch, 2vw);
  margin: 0;
  border-collapse: collapse;
  user-select: none;
  cursor: text;
}

.wordsearch tr {
  border-collapse: collapse;
  display: block;
}

.wordsearch {
  margin: 0 auto;
  position: relative;
  top: 1ch;
  font-family: 'Times New Roman', Times, serif;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--bg);
  padding: 2ch 1ch 1ch;
  display: flex;
  flex-direction: column;
  gap: 2ch;
  box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.2);
}

#controlsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 1ch 2ch;
  font-size: 1.3em;
  cursor: pointer;
  color: var(--color);
  background: var(--button-bg);
}

button:disabled {
  cursor: not-allowed;
  filter: var(--disable-filter);
}

.imgBtn {
  background: transparent;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.imgBtn img {
  width: 100%;
  height: 100%;
  filter: var(--invert);
}

.defaultBtn {
  background: rgb(255, 187, 0);
  color: black;
}

.blueBtn {
  background: rgb(41, 187, 255);
  color: black;
}

.greenBtn {
  background: hsl(125, 64%, 40%);
  color: black;
}

.warnBtn {
  background: rgb(190, 14, 14);
  color: white;
}

#buttons {
  flex-wrap: wrap;
  gap: 0.5ch;
  width: 100%;
}

#darkModeBtn {
  border-radius: 50%;
  border: 3px solid var(--color);
}

.lightDarkModeIcon {
  width: 2rem;
  height: 1rem;
  border-radius: 1rem 1rem 0 0;
  background: var(--color);
  transform: scale(0.9) var(--icon-translate) var(--icon-rotate);
}

#infoBtn {
  border-radius: 50%;
  border: 3px solid var(--color);
  font-family: monospace;
}

#shadow {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  padding: 2em;
  z-index: 1;
  justify-content: center;
  align-items: flex-start;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 2ch;
  place-items: center;
  background: var(--overlay-bg);
  padding: 2em;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.6);
}

#infoModal {
  max-width: 60ch;
  gap: 0;
}

h3 {
  margin-right: 5px;
  margin-left: 5px;
}

h2 {
  margin: 0;
  display: inline;
}

ol {
  position: relative;
  right: -5vw;
  text-align: left;
  list-style-type: none;
}

#displayinfo {
  position: absolute;
  bottom: 2vh;
  width: 90vw;
}

#displayinfo button, h1 {
  display: inline-block;
  margin-right: 10px;
}

#savedName {
  font-size: 1.2em;
  border-radius: 3px;
  border: .5px solid lightgray;
  padding: 2px;
  padding-left: 4px;
}

#copyMenu {
  position: absolute;
  list-style-type: none;
  background: var(--overlay-bg);
  padding: 0;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.4);
}

#copyMenu li {
  display: flex;
}

#copyMenu button {
  background: transparent;
  width: 100%;
  text-align: left;
  padding: 1ch;
  font-size: 1rem;
}

#copyMenu button:not(:disabled):hover {
  background: var(--hover-bg);
}

.goandsee {
  cursor: pointer;
}

#savedTables {
  border-collapse: collapse;
}

#savedTables tr:nth-child(even) {
  background: var(--hover-bg);
}

#savedTables td {
  padding: 0 1ch;
  margin: 1px;
}

#savedTables td:nth-child(odd) {
  border-right: 1px dotted gray;

}

#savedTables td:nth-child(even) {
  padding: 0; 
}

#saveAlert {
  background-color: black;
  color: lightgray;
}

.dltbtns {
  min-width: 80px;
  font-size: 1em;
  background: transparent;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 450px), (max-height: 450px) {
  .spacer {
    min-height: 15em;
    width: 100%;
  }
}

.flexCenter {
  display: flex;
  place-content: center;
  place-items: center;
}

.halfChGap {
  gap: 0.5ch;
}

.none {
  display: none;
}

.inlineBlock {
  display: inline-block;
}

.openShadow {
  display: flex;
}