.wordsearch td{
    text-align: center;
    font-size: calc(10px + 1vw);
    width: 2vw;
    margin: 0;
    border-collapse: collapse;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

::selection {
    background-color: #EEEEEE;
}

.wordsearch tr {
    border-collapse: collapse;
    display: block;
}

.wordsearch {
    margin: 0 auto;
    position: relative;
    top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#bottomLeft {
    position: absolute;
    bottom: 6px;
    left: -34px;
    list-style-type: none;
    margin: 0;
}

button {
    min-width: 10vw;
    border: none;
    background-color: rgb(203, 203, 203);
    padding: 5px;
    font-size: calc(12px + .7vw);
    margin-top: 20px;
    margin-left: 0;
    cursor: pointer;
}

#ldmode {
    cursor: pointer;
    position: relative;
    top: 11px;
}

#shadow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000099;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

#popups {
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 2vh;
    left: 0;
    width: 100vw;
}

.popup {
    display: none;
    background-color: #DDDDDD;
    padding: 4px;
}

h3 {
    margin-right: 5px;
    margin-left: 5px;
}

h2 {
    margin: 0;
    display: inline;
}

ol {
    position: relative;
    right: -5vw;
    text-align: left;
    list-style-type: none;
}

li:hover {
    cursor: pointer;
}

.popup button {
    margin: 5px;
}

#displayinfo {
    position: absolute;
    bottom: 2vh;
    width: 90vw;
}

#displayinfo button, h1 {
    display: inline-block;
    margin-right: 10px;
}

#savedName {
    font-size: calc(12px + .7vw);
    border-radius: 2px;
    border: .5px solid gray;
    padding: 2px;
}

.none {
    display: none;
}

.goandsee {
    cursor: pointer;
}

#savedTables {
    border-collapse: collapse;
}

#savedTables tr:nth-child(even) {background-color: rgb(140, 140, 140);}

.invert {
    filter: invert(100%);
}

#everything {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#saveAlert {
    background-color: black;
    color: lightgray;
    border-radius: 3px;
}

.inlineBlock {
    display: inline-block;
}

.dltbtns {
    width: 1vw;
    font-size: calc(7px + .7vw);
    background-color: transparent;
}